/**
* side-menu.css start
*/
body {
    background: #E8EAF6;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background: linear-gradient(#0D47A1, #0D47A1) !important;
}

.text-muted:hover {
    color: white !important;
}

a:link {
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
}

a:link {
    color: white;
    transition: color 0.5s, transform 0.5s;
}

.nav-link, .nav-link:active {
    color: white;
}

.nav-link:focus, .nav-link:hover {
    color: white;
    transform: scale(1.1);
}

a {
    color: white;
}

a:hover {
    color: white;
    transform: scale(1.1);
}

.hover-link {
    color: white;
    transition: color 0.5s, transform 0.5s;
}

.hover-link:hover {
    color: white;
    transform: scale(1.1);
}


.accordion-button {
    font-size: 20px;
    background: #5C6BC0;
    color: white;
}

.anchor {
    position: inherit;
    margin-left: 5%;
}

.navbar-pad {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.card-padding {
    padding-left: 13%;
}

.title-card-padding {
    padding-left: 3%;
    margin-right: 2%;
}

.sideNav-lg {
    width: auto;
}

.main-wrapper {
    min-height: auto;
}

.row-override {
    margin-right: -35px !important;
}

.margin-right {
    margin-right: 10px;
}

@media screen and (max-width: 375px) {
    .row-override {
        margin-right: 0px !important;
    }

    .margin-right {
        margin-right: calc(-.5 * var(--bs-gutter-x));
    }
    .accordion {
        margin-right: 0px;
        padding: 15px;
    }
}

@media screen and (min-width: 1240px) {
    .sideNav-width {
        position: fixed;
        height: 100%;
        width: 20%;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 10px;
        font-size: 20px;
    }


    .sideNav-lg {
        max-with: 300px;
    }

    .main-wrapper {
        min-height: 512px;
    }
}


@media screen and (min-width: 1400px) {
    .sideNav-width {
        position: fixed;
        height: 100%;
        width: 18%;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 10px;
        font-size: 20px;
    }

    .main-wrapper {
        min-height: 786px;
    }
    .sideNav-lg {
        max-width: 315px;
    }
}

/**
* side-menu.css end
*/
